<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Entry Key="interface.list_scroll" Value="3"/>
    <Entry Key="interface.height" Value="1080"/>
    <Entry Key="font.font" Value="comic.ttf"/>
    <Entry Key="interface.width" Value="1920"/>
    <Entry Key="interface.theme" Value="J_1920x1080"/>
    <Entry Key="folders.prefer_defaults" Value="true"/>
    <Entry Key="interface.fullscreen" Value="true"/>
    <Entry Key="folders.backup_saves" Value="true"/>
    <Entry Key="interface.text_scroll" Value="3"/>
    <Entry Key="folders.default_images" Value="./Resources/DefaultImages"/>
    <Entry Key="folders.items" Value="./Resources/Items"/>
    <Entry Key="folders.saves" Value="./Resources/Characters"/>
    <Entry Key="folders.characters" Value="./Resources/Characters"/>
</Config>
