<Screen>
<Window     Name="Settings"                                                 XPos="514"       YPos="39"       Width="2811"    Height="2081"    Border="1"  />
<Text       Name="ScreenHeader"             Text="Settings"                 XPos="6"        YPos="0"        Width="562"     Height="169"     FontSize="112"  />
<Button     Name="OkButton"                 Image="Ok"                      XPos="1321"      YPos="1963"      Width="360"     Height="90"     Transparency="true"                  Scale="true"      />
<Button     Name="RevertButton"             Image="Revert"                  XPos="1864"      YPos="1963"      Width="202"      Height="90"     Transparency="true"                  Scale="true"      />
<Button     Name="BackButton"               Image="Back"                    XPos="2249"      YPos="1946"      Width="534"     Height="107"     Transparency="true" Scale="true"  />

<Text       Name="CharactersLabel"          Text="Characters"               XPos="28"       YPos="231"       Width="281"     Height="56"     FontSize="34"  />
<Text       Name="SavesLabel"               Text="Saves"                    XPos="28"       YPos="287"      Width="281"     Height="56"     FontSize="34"  />
<Text       Name="DefaultImagesLabel"       Text="DefaultImages"            XPos="28"       YPos="343"      Width="281"     Height="56"     FontSize="34"  />
<Text       Name="ItemsLabel"               Text="Items"                    XPos="28"       YPos="399"      Width="281"     Height="56"     FontSize="34"  />
<EditBox    Name="Characters"                                               XPos="309"      YPos="225"       Width="843"     Height="56"     FontSize="28"                  Border="1"  />
<EditBox    Name="Saves"                                                    XPos="309"      YPos="281"      Width="843"     Height="56"     FontSize="28"                  Border="1"  />
<EditBox    Name="DefaultImages"                                            XPos="309"      YPos="338"      Width="843"     Height="56"     FontSize="28"                  Border="1"  />
<EditBox    Name="Items"                                                    XPos="309"      YPos="394"      Width="843"     Height="56"     FontSize="28"                  Border="1"  />
<Checkbox   Name="BackupSaves"              Text="Backup Saves"             XPos="169"       YPos="478"      Width="45"      Height="45"     FontSize="34" LeftOrRight="false" />
<Checkbox   Name="PreferDefault"            Text="Prefer Default"           XPos="731"      YPos="478"      Width="45"      Height="45"     FontSize="34" LeftOrRight="false" />
<Text       Name="ThemeLabel"               Text="Theme"                    XPos="28"       YPos="619"      Width="281"     Height="56"     FontSize="34"  />
<ListBox    Name="ThemeList"                                                XPos="309"      YPos="619"      Width="590"     Height="169"     FontSize="34" RowHeight="56"   Border="1" Events="true" Multi="false" />

<Define     Widget="Fonts">
<Checkbox   Name="ShowPercent"              Text="Show % Signs"             XPos="0"        YPos="0"        Width="45"      Height="45"     FontSize="34"                  LeftOrRight="false" />
</Define>

</Screen>