<Screen>
<Window     Name="Settings"                                                 XPos="214"       YPos="16"       Width="1171"    Height="867"    Border="1"  />
<Text       Name="ScreenHeader"             Text="Settings"                 XPos="2"        YPos="0"        Width="234"     Height="70"     FontSize="47"  />
<Button     Name="OkButton"                 Image="Ok"                      XPos="551"      YPos="818"      Width="150"     Height="38"     Transparency="true"                  Scale="true"      />
<Button     Name="RevertButton"             Image="Revert"                  XPos="777"      YPos="818"      Width="84"      Height="38"     Transparency="true"                  Scale="true"      />
<Button     Name="BackButton"               Image="Back"                    XPos="937"      YPos="811"      Width="223"     Height="45"     Transparency="true" Scale="true"  />

<Text       Name="CharactersLabel"          Text="Characters"               XPos="12"       YPos="96"       Width="117"     Height="23"     FontSize="14"  />
<Text       Name="SavesLabel"               Text="Saves"                    XPos="12"       YPos="120"      Width="117"     Height="23"     FontSize="14"  />
<Text       Name="DefaultImagesLabel"       Text="DefaultImages"            XPos="12"       YPos="143"      Width="117"     Height="23"     FontSize="14"  />
<Text       Name="ItemsLabel"               Text="Items"                    XPos="12"       YPos="166"      Width="117"     Height="23"     FontSize="14"  />
<EditBox    Name="Characters"                                               XPos="129"      YPos="94"       Width="351"     Height="23"     FontSize="12"                  Border="1"  />
<EditBox    Name="Saves"                                                    XPos="129"      YPos="117"      Width="351"     Height="23"     FontSize="12"                  Border="1"  />
<EditBox    Name="DefaultImages"                                            XPos="129"      YPos="141"      Width="351"     Height="23"     FontSize="12"                  Border="1"  />
<EditBox    Name="Items"                                                    XPos="129"      YPos="164"      Width="351"     Height="23"     FontSize="12"                  Border="1"  />
<Checkbox   Name="BackupSaves"              Text="Backup Saves"             XPos="70"       YPos="199"      Width="19"      Height="19"     FontSize="14" LeftOrRight="false" />
<Checkbox   Name="PreferDefault"            Text="Prefer Default"           XPos="305"      YPos="199"      Width="19"      Height="19"     FontSize="14" LeftOrRight="false" />

<Text       Name="ThemeLabel"               Text="Theme"                    XPos="12"       YPos="258"      Width="117"     Height="23"     FontSize="14"  />
<ListBox    Name="ThemeList"                                                XPos="129"      YPos="258"      Width="246"     Height="70"     FontSize="14" RowHeight="23"   Border="1" Events="true" Multi="false" />
<Checkbox   Name="Fullscreen"               Text="Fullscreen"               XPos="70"       YPos="328"      Width="19"      Height="19"     FontSize="14" LeftOrRight="false" />

</Screen>