<Screen>
<Window     Name="Settings"                                                 XPos="183"       YPos="14"       Width="1000"    Height="740"    Border="1"  />
<Text       Name="ScreenHeader"             Text="Settings"                 XPos="2"        YPos="0"        Width="200"     Height="60"     FontSize="40"  />
<Button     Name="OkButton"                 Image="Ok"                      XPos="470"      YPos="698"      Width="128"     Height="32"     Transparency="true"/>
<Button     Name="RevertButton"             Image="Revert"                  XPos="663"      YPos="698"      Width="72"      Height="32"     Transparency="true"/>
<Button     Name="BackButton"               Image="Back"                    XPos="800"      YPos="692"      Width="190"     Height="38"     Transparency="true" ReplaceWindow="Main Menu"/>

<Text       Name="CharactersLabel"          Text="Characters"               XPos="10"       YPos="82"       Width="100"     Height="20"     FontSize="12"  />
<Text       Name="SavesLabel"               Text="Saves"                    XPos="10"       YPos="102"      Width="100"     Height="20"     FontSize="12"  />
<Text       Name="DefaultImagesLabel"       Text="DefaultImages"            XPos="10"       YPos="122"      Width="100"     Height="20"     FontSize="12"  />
<Text       Name="ItemsLabel"               Text="Items"                    XPos="10"       YPos="142"      Width="100"     Height="20"     FontSize="12"  />
<EditBox    Name="Characters"                                               XPos="110"      YPos="80"       Width="300"     Height="20"     FontSize="10"                  Border="1"  />
<EditBox    Name="Saves"                                                    XPos="110"      YPos="100"      Width="300"     Height="20"     FontSize="10"                  Border="1"  />
<EditBox    Name="DefaultImages"                                            XPos="110"      YPos="120"      Width="300"     Height="20"     FontSize="10"                  Border="1"  />
<EditBox    Name="Items"                                                    XPos="110"      YPos="140"      Width="300"     Height="20"     FontSize="10"                  Border="1"  />
<Checkbox   Name="BackupSaves"              Text="Backup Saves"             XPos="60"       YPos="170"      Width="16"      Height="16"     FontSize="12" LeftOrRight="false" />
<Checkbox   Name="PreferDefault"            Text="Prefer Default"           XPos="260"      YPos="170"      Width="16"      Height="16"     FontSize="12" LeftOrRight="false" />

<Text       Name="ThemeLabel"               Text="Theme"                    XPos="10"       YPos="220"      Width="100"     Height="20"     FontSize="12"  />
<ListBox    Name="ThemeList"                                                XPos="110"      YPos="220"      Width="210"     Height="60"     FontSize="12" RowHeight="20"   Border="1" Events="true" Multi="false" />
<Checkbox   Name="Fullscreen"               Text="Fullscreen"               XPos="60"       YPos="290"      Width="16"      Height="16"     FontSize="12" LeftOrRight="false" />

</Screen>