<Screen>
<Window     Name="Settings"                                                 XPos="257"       YPos="20"       Width="1406"    Height="1041"    Border="1"  />
<Text       Name="ScreenHeader"             Text="Settings"                 XPos="3"        YPos="0"        Width="281"     Height="84"     FontSize="56"  />
<Button     Name="OkButton"                 Image="Ok"                      XPos="661"      YPos="982"      Width="180"     Height="45"     Transparency="true"                  Scale="true"      />
<Button     Name="RevertButton"             Image="Revert"                  XPos="932"      YPos="982"      Width="101"      Height="45"     Transparency="true"                  Scale="true"      />
<Button     Name="BackButton"               Image="Back"                    XPos="1124"      YPos="973"      Width="267"     Height="53"     Transparency="true" Scale="true"  />

<Define     Widget="Folders">
<Text       Name="CharactersLabel"          Text="Characters"               XPos="0"        YPos="3"       Width="141"     Height="28"     FontSize="17"  />
<Text       Name="SavesLabel"               Text="Saves"                    XPos="0"        YPos="31"       Width="141"     Height="28"     FontSize="17"  />
<Text       Name="DefaultImagesLabel"       Text="DefaultImages"            XPos="0"        YPos="59"       Width="141"     Height="28"     FontSize="17"  />
<Text       Name="ItemsLabel"               Text="Items"                    XPos="0"        YPos="87"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Characters"                                               XPos="141"      YPos="0"       Width="422"     Height="28"     FontSize="14"                  Border="1"  />
<EditBox    Name="Saves"                                                    XPos="141"      YPos="28"       Width="422"     Height="28"     FontSize="14"                  Border="1"  />
<EditBox    Name="DefaultImages"                                            XPos="141"      YPos="56"       Width="422"     Height="28"     FontSize="14"                  Border="1"  />
<EditBox    Name="Items"                                                    XPos="141"      YPos="84"       Width="422"     Height="28"     FontSize="14"                  Border="1"  />
<Checkbox   Name="BackupSaves"              Text="Backup Saves"             XPos="70"       YPos="127"       Width="22"      Height="22"     FontSize="17" LeftOrRight="false" />
<Checkbox   Name="PreferDefault"            Text="Prefer Default"           XPos="351"      YPos="127"       Width="22"      Height="22"     FontSize="17" LeftOrRight="false" />
</Define>

<Define     Widget="Initial">
<EditBox    Name="Gold"                                                     XPos="0"        YPos="0"        Width="141"     Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="GoldLabel"                Text="Initial Gold"             XPos="141"      YPos="3"        Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="GirlMeet"                                                 XPos="98"       YPos="28"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="GirlMeetLabel"            Text="Girl Meet Chance"         XPos="141"      YPos="31"       Width="211"     Height="28"     FontSize="17"  />
<EditBox    Name="TortureTraitWeekMod"                                      XPos="98"       YPos="56"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="TTWMLabel"                Text="Torture Mod"              XPos="141"      YPos="59"       Width="211"     Height="28"     FontSize="17"  />
<Checkbox   Name="SlavePayOutOfPocket"      Text="Pay Slave Out of Pocket"  XPos="70"       YPos="84"       Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="AutoUseItems"             Text="Auto Use Items"           XPos="351"      YPos="0"        Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="AutoCombatEquip"          Text="Auto Equip Combat"        XPos="351"      YPos="28"       Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="GirlsKeepTips"            Text="Girls Keep Tips"          XPos="351"      YPos="56"       Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="SlaveKeepTips"            Text="Slave Keep Tips"          XPos="351"      YPos="84"       Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Text       Name="GHPLabel"                 Text="Free House %"             XPos="0"        YPos="115"       Width="211"     Height="28"     FontSize="17"  />
<Slider     Name="GirlsHousePerc"                                           XPos="211"      YPos="117"       Width="351"     MinValue="0"    MaxValue="100"                  Value="0"                  Increment="10"                  LiveUpdate="true"                  Hidden="false"                  Disabled="false"                   />
<Text       Name="SHPLabel"                 Text="Slave House %"            XPos="0"        YPos="143"      Width="211"     Height="28"     FontSize="17"  />
<Slider     Name="SlaveHousePerc"                                           XPos="211"      YPos="145"      Width="351"     MinValue="0"    MaxValue="100"                  Value="0"                  Increment="10"                  LiveUpdate="true"                  Hidden="false"                  Disabled="false"                   />
<Text       Name="GirlsAccomLabel"          Text="Base Free Accom"          XPos="0"        YPos="172"      Width="211"     Height="28"     FontSize="17"  />
<Slider     Name="GirlsAccom"                                               XPos="211"      YPos="173"      Width="351"     MinValue="0"    MaxValue="100"                  Value="0"                  Increment="10"                  LiveUpdate="true"                  Hidden="false"                  Disabled="false"                   />
<Text       Name="SlaveAccomLabel"          Text="Base Slave Accom"         XPos="0"        YPos="200"      Width="211"     Height="28"     FontSize="17"  />
<Slider     Name="SlaveAccom"                                               XPos="211"      YPos="201"      Width="351"     MinValue="0"    MaxValue="100"                  Value="0"                  Increment="10"                  LiveUpdate="true"                  Hidden="false"                  Disabled="false"                   />
</Define>

<Define     Widget="Catacombs">
<Checkbox   Name="ControlGirls"             Text="Control Girls"            XPos="70"       YPos="0"        Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Text       Name="GirlGets"                 Text="Girl Gets What:"          XPos="0"        YPos="28"       Width="141"     Height="28"     FontSize="17"  />
<Text       Name="GirlGetsGirls"            Text="Girls: 34%"               XPos="141"      YPos="28"       Width="141"     Height="28"     FontSize="17"  />
<Text       Name="GirlGetsItems"            Text="Items: 33%"               XPos="281"      YPos="28"       Width="141"     Height="28"     FontSize="17"  />
<Text       Name="GirlGetsBeast"            Text="Beast: 33%"               XPos="422"      YPos="28"       Width="141"     Height="28"     FontSize="17"  />
<Slider     Name="GirlsGirlsPercSlider"                                     XPos="0"        YPos="60"       Width="562"     MinValue="0"    MaxValue="100"                  Value="0"                  Increment="1"                  LiveUpdate="true"                  Hidden="false"                  Disabled="false"                   />
<Slider     Name="GirlsItemsPercSlider"                                     XPos="0"        YPos="89"       Width="562"     MinValue="0"    MaxValue="100"                  Value="0"                  Increment="1"                  LiveUpdate="true"                  Hidden="false"                  Disabled="false"                   />
<Checkbox   Name="ControlGangs"             Text="Control Gangs"            XPos="70"       YPos="141"      Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Text       Name="GangGets"                 Text="Gang Gets What:"          XPos="0"        YPos="169"      Width="141"     Height="28"     FontSize="17"  />
<Text       Name="GangGetsGirls"            Text="Girls: 34%"               XPos="141"      YPos="169"      Width="141"     Height="28"     FontSize="17"  />
<Text       Name="GangGetsItems"            Text="Items: 33%"               XPos="281"      YPos="169"      Width="141"     Height="28"     FontSize="17"  />
<Text       Name="GangGetsBeast"            Text="Beast: 33%"               XPos="422"      YPos="169"      Width="141"     Height="28"     FontSize="17"  />
<Slider     Name="GangsGirlsPercSlider"                                     XPos="0"        YPos="201"      Width="562"     MinValue="0"    MaxValue="100"                  Value="0"                  Increment="1"                  LiveUpdate="true"                  Hidden="false"                  Disabled="false"                   />
<Slider     Name="GangsItemsPercSlider"                                     XPos="0"        YPos="229"      Width="562"     MinValue="0"    MaxValue="100"                  Value="0"                  Increment="1"                  LiveUpdate="true"                  Hidden="false"                  Disabled="false"                   />
<Text       Name="UniqueCatacombsLabel"     Text="Unique %"                 XPos="98"       YPos="281"      Width="422"     Height="28"     FontSize="17"  />
<Slider     Name="UniqueCatacombs"                                          XPos="0"        YPos="314"      Width="562"     MinValue="0"    MaxValue="100"                  Value="0"                  Increment="1"                  LiveUpdate="true"                  Hidden="false"                  Disabled="false"                   />
</Define>

<Define     Widget="Income">
<Text       Name="IncomeLabel"              Text="Income"                   XPos="0"        YPos="-5"       Width="281"     Height="42"     FontSize="25"  />
<EditBox    Name="ExtortionIncome"                                          XPos="0"        YPos="28"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="ExtortionIncomeLabel"     Text="Extortion Income"         XPos="42"       YPos="31"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="GirlsWorkBrothel"                                         XPos="0"        YPos="56"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="GirlsWorkBrothelLabel"    Text="Girls Work Brothel"       XPos="42"       YPos="59"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="GirlsWorkStreet"                                          XPos="0"        YPos="84"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="GirlsWorkStreetLabel"     Text="Girls Work Street"        XPos="42"       YPos="87"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="MovieIncome"                                              XPos="0"        YPos="112"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="MovieIncomeLabel"         Text="Movie Income"             XPos="42"       YPos="115"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="StripperIncome"                                           XPos="0"        YPos="141"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="StripperIncomeLabel"      Text="Stripper Income"          XPos="42"       YPos="143"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="BarmaidIncome"                                            XPos="0"        YPos="169"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="BarmaidIncomeLabel"       Text="Barmaid Income"           XPos="42"       YPos="172"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="SlaveSales"                                               XPos="0"        YPos="197"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="SlaveSalesLabel"          Text="Slave Sales"              XPos="42"       YPos="200"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="ItemSales"                                                XPos="0"        YPos="225"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="ItemSalesLabel"           Text="Item Sales"               XPos="42"       YPos="228"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="ClinicIncome"                                             XPos="0"        YPos="253"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="ClinicIncomeLabel"        Text="Clinic Income"            XPos="42"       YPos="256"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="ArenaIncome"                                              XPos="0"        YPos="281"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="ArenaIncomeLabel"         Text="Arena Income"             XPos="42"       YPos="284"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="FarmIncome"                                               XPos="0"        YPos="309"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="FarmIncomeLabel"          Text="Farm Income"              XPos="42"       YPos="312"      Width="141"     Height="28"     FontSize="17"  />
</Define>
<Define     Widget="Expenses">
<Text       Name="ExpensesLabel"            Text="Expenses"                 XPos="0"        YPos="-5"       Width="281"     Height="42"     FontSize="25"  />
<EditBox    Name="Training"                                                 XPos="0"        YPos="28"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="TrainingLabel"            Text="Training"                 XPos="42"       YPos="31"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="MovieCost"                                                XPos="0"        YPos="56"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="MovieCostLabel"           Text="MovieCost"                XPos="42"       YPos="59"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="ActressWages"                                             XPos="0"        YPos="84"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="ActressWagesLabel"        Text="ActressWages"             XPos="42"       YPos="87"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="GoonWages"                                                XPos="0"        YPos="112"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="GoonWagesLabel"           Text="GoonWages"                XPos="42"       YPos="115"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="MatronWages"                                              XPos="0"        YPos="141"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="MatronWagesLabel"         Text="MatronWages"              XPos="42"       YPos="143"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="StaffWages"                                               XPos="0"        YPos="169"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="StaffWagesLabel"          Text="StaffWages"               XPos="42"       YPos="172"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="GirlSupport"                                              XPos="0"        YPos="197"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="GirlSupportLabel"         Text="GirlSupport"              XPos="42"       YPos="200"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Consumables"                                              XPos="0"        YPos="225"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="ConsumablesLabel"         Text="Consumables"              XPos="42"       YPos="228"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Items"                                                    XPos="0"        YPos="253"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="ItemsLabel"               Text="Items"                    XPos="42"       YPos="256"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="SlavesBought"                                             XPos="0"        YPos="281"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="SlavesBoughtLabel"        Text="SlavesBought"             XPos="42"       YPos="284"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="BuyBrothel"                                               XPos="0"        YPos="309"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="BuyBrothelLabel"          Text="BuyBrothel"               XPos="42"       YPos="312"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="BrothelSupport"                                           XPos="0"        YPos="338"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="BrothelSupportLabel"      Text="BrothelSupport"           XPos="42"       YPos="340"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="BarSupport"                                               XPos="0"        YPos="366"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="BarSupportLabel"          Text="BarSupport"               XPos="42"       YPos="368"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="CasinoSupport"                                            XPos="0"        YPos="394"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="CasinoSupportLabel"       Text="CasinoSupport"            XPos="42"       YPos="397"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Bribes"                                                   XPos="0"        YPos="422"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="BribesLabel"              Text="Bribes"                   XPos="42"       YPos="425"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Fines"                                                    XPos="0"        YPos="450"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="FinesLabel"               Text="Fines"                    XPos="42"       YPos="453"      Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Advertising"                                              XPos="0"        YPos="478"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="AdvertisingLabel"         Text="Advertising"              XPos="42"       YPos="481"      Width="141"     Height="28"     FontSize="17"  />
</Define>
<Define     Widget="Fonts">
<Checkbox   Name="ShowPercent"              Text="Show % Signs"             XPos="0"        YPos="0"        Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
</Define>
<Define     Widget="Gambling">
<Text       Name="GamblingLabel"            Text="Gambling"                 XPos="0"        YPos="-5"       Width="281"     Height="42"     FontSize="25"  />
<EditBox    Name="Odds"                                                     XPos="0"        YPos="28"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="OddsLabel"                Text="Odds"                     XPos="42"       YPos="31"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Base"                                                     XPos="0"        YPos="56"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="BaseLabel"                Text="Base"                     XPos="42"       YPos="59"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Spread"                                                   XPos="0"        YPos="84"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="SpreadLabel"              Text="Spread"                   XPos="42"       YPos="87"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="CustomerFactor"                                           XPos="0"        YPos="112"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="CustomerFactorLabel"      Text="Customer Factor"          XPos="42"       YPos="115"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="HouseFactor"                                              XPos="0"        YPos="141"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="HouseFactorLabel"         Text="House Factor"             XPos="42"       YPos="143"      Width="141"     Height="28"     FontSize="17"  />
</Define>
<Define     Widget="Tax">
<Text       Name="TaxLabel"                 Text="Taxes"                    XPos="0"        YPos="-5"       Width="281"     Height="42"     FontSize="25"  />
<EditBox    Name="Rate"                                                     XPos="0"        YPos="28"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="RateLabel"                Text="Rate"                     XPos="42"       YPos="31"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Minimum"                                                  XPos="0"        YPos="56"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="MinimumLabel"             Text="Minimum"                  XPos="42"       YPos="59"       Width="141"     Height="28"     FontSize="17"  />
<EditBox    Name="Laundry"                                                  XPos="0"        YPos="84"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="LaundryLabel"             Text="Laundry"                  XPos="42"       YPos="87"       Width="141"     Height="28"     FontSize="17"  />
</Define>
<Define     Widget="Pregnancy">
<Text       Name="PregnancyLabel"           Text="Pregnancy"                XPos="0"        YPos="-5"       Width="281"     Height="42"     FontSize="25"  />
<EditBox    Name="PlayerChance"                                             XPos="0"        YPos="28"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="PlayerChanceLabel"        Text="Player Chance"            XPos="42"       YPos="31"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="CustomerChance"                                           XPos="0"        YPos="56"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="CustomerChanceLabel"      Text="Customer Chance"          XPos="42"       YPos="59"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="MonsterChance"                                            XPos="0"        YPos="84"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="MonsterChanceLabel"       Text="Monster Chance"           XPos="42"       YPos="87"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="GoodSexFactor"                                            XPos="0"        YPos="112"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="GoodSexFactorLabel"       Text="Good Sex Factor"          XPos="42"       YPos="115"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="ChanceOfGirl"                                             XPos="0"        YPos="141"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="ChanceOfGirlLabel"        Text="Chance Of Girl"           XPos="42"       YPos="143"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="WeeksPregnant"                                            XPos="0"        YPos="169"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="WeeksPregnantLabel"       Text="Weeks Pregnant"           XPos="42"       YPos="172"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="WeeksMonsterP"                                            XPos="0"        YPos="197"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="WeeksMonsterPLabel"       Text="Weeks Monster P"          XPos="42"       YPos="200"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="MiscarriageChance"                                        XPos="0"        YPos="225"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="MiscarriageChanceLabel"   Text="Miscarriage Chance"       XPos="42"       YPos="228"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="MiscarriageMonster"                                       XPos="0"        YPos="253"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="MiscarriageMonsterLabel"  Text="Miscarriage Monster"      XPos="42"       YPos="256"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="WeeksTillGrown"                                           XPos="0"        YPos="281"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="WeeksTillGrownLabel"      Text="Weeks Till Grown"         XPos="42"       YPos="284"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="CoolDown"                                                 XPos="0"        YPos="309"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="CoolDownLabel"            Text="Cool Down"                XPos="42"       YPos="312"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="AntiPregFailure"                                          XPos="0"        YPos="338"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="AntiPregFailureLabel"     Text="AntiPreg Failure"         XPos="42"       YPos="340"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="MultiBirthChance"                                         XPos="0"        YPos="366"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="MultiBirthChanceLabel"    Text="Multi Birth Chance"       XPos="42"       YPos="368"      Width="169"     Height="28"     FontSize="17"  />
</Define>
<Define     Widget="SlaveMarket">
<Text       Name="SlaveMarketLabel"         Text="Slave Market"             XPos="0"        YPos="-5"       Width="281"     Height="42"     FontSize="25"  />
<EditBox    Name="UniqueMarket"                                             XPos="0"        YPos="28"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="UniqueMarketLabel"        Text="Unique Market"            XPos="42"       YPos="31"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="SlavesNewWeeklyMin"                                       XPos="0"        YPos="56"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="SlavesNewWeeklyMinLabel"  Text="Slaves Per Week Min"      XPos="42"       YPos="59"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="SlavesNewWeeklyMax"                                       XPos="0"        YPos="84"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="SlavesNewWeeklyMaxLabel"  Text="Slaves Per Week Max"      XPos="42"       YPos="87"       Width="169"     Height="28"     FontSize="17"  />
</Define>
<Define     Widget="Gangs">
<Text       Name="GangsLabel"               Text="Gangs"                    XPos="0"        YPos="-5"       Width="281"     Height="42"     FontSize="25"  />
<EditBox    Name="MaxRecruitList"                                           XPos="0"        YPos="28"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="MaxRecruitListLabel"      Text="Max Recruit List"         XPos="42"       YPos="31"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="StartRandom"                                              XPos="0"        YPos="56"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="StartRandomLabel"         Text="Start Random"             XPos="42"       YPos="59"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="StartBoosted"                                             XPos="0"        YPos="84"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="StartBoostedLabel"        Text="Start Boosted"            XPos="42"       YPos="87"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="InitMemberMin"                                            XPos="0"        YPos="112"       Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="InitMemberMinLabel"       Text="Init Member Min"          XPos="42"       YPos="115"       Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="InitMemberMax"                                            XPos="0"        YPos="141"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="InitMemberMaxLabel"       Text="Init Member Max"          XPos="42"       YPos="143"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="AddNewWeeklyMin"                                          XPos="0"        YPos="169"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="AddNewWeeklyMinLabel"     Text="Add New Weekly Min"       XPos="42"       YPos="172"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="AddNewWeeklyMax"                                          XPos="0"        YPos="197"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="AddNewWeeklyMaxLabel"     Text="Add New Weekly Max"       XPos="42"       YPos="200"      Width="169"     Height="28"     FontSize="17"  />
<EditBox    Name="ChanceRemoveUnwanted"                                     XPos="0"        YPos="225"      Width="42"      Height="28"     FontSize="14"                  Border="1"                   />
<Text       Name="ChanceRemoveUnwantedLabel"Text="Remove Unwanted"          XPos="42"       YPos="228"      Width="169"     Height="28"     FontSize="17"  />
</Define>
<Define     Widget="Debug">
<Checkbox   Name="LogAll"                   Text="Log All"                  XPos="0"        YPos="0"        Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="LogGirls"                 Text="Log Girls"                XPos="0"        YPos="28"       Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="LogRGirls"                Text="Log RGirls"               XPos="0"       YPos="56"       Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="LogGirlFights"            Text="Log Girl Fights"          XPos="0"       YPos="84"       Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="LogItems"                 Text="Log Items"                XPos="0"        YPos="112"       Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="LogFonts"                 Text="Log Fonts"                XPos="0"        YPos="141"      Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="LogExtraDetails"          Text="Log Extra Details"        XPos="0"        YPos="169"      Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="LogTorture"               Text="Log Torture"              XPos="0"        YPos="197"      Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="LogDebug"                 Text="Log Debug"                XPos="0"        YPos="225"      Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
<Checkbox   Name="LogShowNumbers"           Text="Log Show Numbers"         XPos="0"        YPos="253"      Width="22"      Height="22"     FontSize="17"                  LeftOrRight="false" />
</Define>



<Widget     Definition="Folders"            Seq="Fol"                       XPos="14"       YPos="112" />
<Widget     Definition="Catacombs"          Seq="Cat"                       XPos="14"       YPos="661" />
<!--
<Widget     Definition="Initial"            Seq="Ini"                       XPos="14"       YPos="352" />
<Widget     Definition="Fonts"              Seq="Fon"                       XPos="365"      YPos="42" />
<Widget     Definition="Income"             Seq="Inc"                       XPos="647"      YPos="14" />
<Widget     Definition="Tax"                Seq="Tax"                       XPos="647"      YPos="408" />
<Widget     Definition="Debug"              Seq="Dbg"                       XPos="647"      YPos="633" />
<Widget     Definition="Expenses"           Seq="Exp"                       XPos="900"      YPos="14" />
<Widget     Definition="Gangs"              Seq="Gan"                       XPos="900"      YPos="661" />
<Widget     Definition="Pregnancy"          Seq="Prg"                       XPos="1153"      YPos="14" />
<Widget     Definition="SlaveMarket"        Seq="Svm"                       XPos="1153"      YPos="520" />
<Widget     Definition="Gambling"           Seq="Gam"                       XPos="1153"      YPos="745" />
-->
</Screen>