<Screen>
    <Window     Name="Settings"                                                 XPos="137"       YPos="14"       Width="750"    Height="740"    Border="1"  />
    <Text       Name="ScreenHeader"             Text="Settings"                 XPos="1"        YPos="0"        Width="150"     Height="60"     FontSize="30"  />
    <Button     Name="OkButton"                 Image="Ok"                      XPos="352"      YPos="698"      Width="96"     Height="32"     Transparency="true"/>
    <Button     Name="RevertButton"             Image="Revert"                  XPos="497"      YPos="698"      Width="54"      Height="32"     Transparency="true"/>
    <Button     Name="BackButton"               Image="Back"                    XPos="600"      YPos="692"      Width="142"     Height="38"     Transparency="true" ReplaceWindow="Main Menu"/>

    <Text       Name="CharactersLabel"          Text="Characters"               XPos="7"       YPos="82"       Width="75"     Height="20"     FontSize="11"  />
    <Text       Name="SavesLabel"               Text="Saves"                    XPos="7"       YPos="102"      Width="75"     Height="20"     FontSize="11"  />
    <Text       Name="DefaultImagesLabel"       Text="DefaultImages"            XPos="7"       YPos="122"      Width="75"     Height="20"     FontSize="11"  />
    <Text       Name="ItemsLabel"               Text="Items"                    XPos="7"       YPos="142"      Width="75"     Height="20"     FontSize="11"  />
    <EditBox    Name="Characters"                                               XPos="82"      YPos="80"       Width="225"     Height="20"     FontSize="11"                  Border="1"  />
    <EditBox    Name="Saves"                                                    XPos="82"      YPos="100"      Width="225"     Height="20"     FontSize="11"                  Border="1"  />
    <EditBox    Name="DefaultImages"                                            XPos="82"      YPos="120"      Width="225"     Height="20"     FontSize="11"                  Border="1"  />
    <EditBox    Name="Items"                                                    XPos="82"      YPos="140"      Width="225"     Height="20"     FontSize="11"                  Border="1"  />
    <Checkbox   Name="PreferDefault"            Text="Prefer Default"           XPos="195"      YPos="170"      Width="12"      Height="16"     FontSize="11" LeftOrRight="false" />

    <Text       Name="ThemeLabel"               Text="Theme"                    XPos="7"       YPos="220"      Width="75"     Height="20"     FontSize="11"  />
    <ListBox    Name="ThemeList"                                                XPos="82"      YPos="220"      Width="157"     Height="60"     FontSize="11" RowHeight="20"   Border="1" Events="true" Multi="false" />
    <Checkbox   Name="Fullscreen"               Text="Fullscreen"               XPos="45"       YPos="290"      Width="12"      Height="16"     FontSize="11" LeftOrRight="false" />

    <Text       Name="WidthLabel"               Text="Window Width"         XPos="7"        YPos="450"      Width="141"     Height="28"     FontSize="11"  />
    <Text       Name="HeightLabel"              Text="Window Height"        XPos="7"        YPos="480"      Width="141"     Height="28"     FontSize="11"  />
    <EditBox    Name="WindowWidth"                                          XPos="82"       YPos="450"      Width="422"     Height="28"     FontSize="10"  Border="1"  />
    <EditBox    Name="WindowHeight"                                         XPos="82"       YPos="480"      Width="422"     Height="28"     FontSize="10"  Border="1"  />
</Screen>